body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 16pt;
}
.chat-container {
    width: 700pt;
    height: 500pt;
    border: 5pt solid rgb(255, 255, 255);
    padding: 10pt;
    margin: auto;
}
.message {
    margin-bottom: 10pt;
}
.message-user {
    background-color: rgb(255, 255, 255);
    padding: 5pt;
    border-radius: 5pt 5pt 5pt 0;
    color: black;
}
.message-bot {
    background-color: rgb(255, 255, 255);
    padding: 5pt;
    border-radius: 5pt 5pt 0 5pt;
    color: black;
}
.center-input {
    text-align:center;
}
input.inputMessage {
    width:  567pt;
    height: 15pt;
    padding: 5pt 10pt 5pt 10pt;
    border: 5pt solid rgb(255, 255, 255);
    background-color: black;
    font-size:16pt;
    color: rgb(255, 255, 255);
}

.send-button {
    background: black; /* Цвет фона */
    padding: 7pt 30pt; /* Внутренние отступы */
    font-size: 16px; /* Размер шрифта */
    color: rgb(255, 255, 255); /* Цвет текста */
    text-align: center; /* Выравнивание текста по центру */
    border:solid 5pt rgb(255, 255, 255); /* Граница кнопки */
    cursor:pointer;
}

.send-button:hover {
    color: black;
    background: rgb(255, 255, 255);
}